{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Edit Profile</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'css/all.min.css'%}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body class="bg-dark">

  <div class="container">
    <div class="card  mx-auto mt-5">
      <div class="card-header">Edit Profile</div>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          {{form|crispy}}

          <br/>
          <!--input type="submit" class="btn btn-primary btn-block" value="Edit Event">-->
          <button type="submit" class="btn btn-primary btn-block">Edit</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

{% endblock %}